nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  margin-top: 10px;
  padding:0px 81px;
  border-bottom: 3px solid var(--color-pink);
  border-top: 3px solid var(--color-pink);
  background-color: var(--color-pink);
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  font: inherit;
}

nav ul li a {
  color: white;
}

.border {
  margin: 20px;
}
