body {
  padding: 15px;
  background-color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first,
.second {
  display: block;
}

img {
  max-width: 100%;
}

button {
  padding: 5px 15px;
  background-color: var(--color-pink);
  border-radius: 50px;
  border-color: transparent;
  color: var(--color-peach);
  cursor: pointer;
  font-family: var(--content-font);
  font-size: 16px;
}

.fab {
  font-size: 25px;
  margin-top: 15px;
  padding: 5px;
}
