@import url("theme.css");

body {
  padding: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /*border: 3px solid saddlebrown;*/
  font-family: var(--content-font);
}
header {
  font-family: cursive;
  padding: 10px;
}
h1 {
  padding: 0 0 0 15px;
  font-family: serif;
}
.first {
  margin-top: 15px;
}
.second {
  color: salmon;
}
nav {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  /*padding:20px;
    background-color: lavenderblush;*/
  border-bottom: 3px solid pink;
  border-top: 3px solid pink;
}
ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  font: inherit;
}
.navigation a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: slateblue;
}
img {
  width: 30%;
  /* border-radius: 8px;*/
  float: right;
  border-radius: 10px;
  padding-left: 5px;
}
p {
  margin: 20px;
}
button {
  padding: 10px;
  background-color: thistle;
  border-radius: 50px;
  border-color: transparent;
  margin: 15px 0 0 15px;
}
button a {
  text-decoration: none;
  color: black;
  padding: 5px;
}
button:hover {
  background-color: pink;
  transform: translateX(50px);
  transition-timing-function: ease-out;
  color: slateblue;
}
