@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Ruluko&display=swap");

:root {
  --heading-font: "Ruluko", serif;
  --content-font: "Montserrat", sans-serif;
  --color-black: #001514;
  --color-peach: #f3dfbf;
  --color-pink: #d8aab4;
  --color-white: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

body {
  font-family: var(--content-font);
}

.text-bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

a:hover {
  color: var(--color-pink);
}
