.welcome-section img {
  border-radius: 50%;
  margin-top: 15px;
}

.welcome-section p {
  margin-top: 10px;
}

.welcome-section {
  height: 100vh;
}

.title {
  margin: 6.75em 0px 0px 30px;
}

@media (min-width: 1024px) {
  .welcome-section {
    display: flex;
  }

  .title {
    margin: 58px 0px 0px 30px;
  }

  .img-des{
    margin-top:60px;
  }
}
